ion-header {
  position: absolute;
  width: 100%;
  height: 77px;
  background: #F8F8F8;
}

ion-content {
  position: relative !important;
}

.fixed-content {
}

.myview {
  background-color: black;
}

.pageBackground {
  background-color: black;
}

.item {
  background-color: transparent;
}

.menu-items {
  background-color: black;
  color: #fff !important;
}

.scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.login-button {
  margin-left: 14px;
  margin-top: 15px;
  width: 150px;
}

.menu-lists {
  color: #fff;
  font-size: 21px;
  font-weight: lighter;
  padding: 10px 14px;
}

.add-circle {
  float: right;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.search {
  float: right;
  color: #fff;
  font-size: 20px;

}

.signuploginbtn {
  margin: 0 16px;
}

.numberCircle {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: #d48416;
  color: #fff !important;
  text-align: center;
  font: 12px Arial, sans-serif;
  padding: 7px 0px 0;
  margin: 0 14px;
}

.profileimg {
  width: 83% !important;
  height: 100% !important;
  max-width: 100px !important;
  max-height: 100px !important;
  max-height: 100px !important;
}

.description {
  font-size: 17px !important;
}

.username {
  margin-left: 14px;
  font-size: 21px;
  font-weight: 100 !important;
  margin-top: 0;
}

.sidebarnav {
  padding: 4px;
  background-size: cover;
}

.chat-icon {
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 15px;
  margin: 0px -13px;
}

.logo-menu {
  height: 142px;
  width: 130px;
  margin: 37px -3px;
}

.follower {
  background-color: black;
}

.item-input {
  color: #fff;
}

.toolbar-title {
  color: #fff !important;
}

.bgprofile {
  background-color: black;
}

.chatlist {
  color: #fff !important;
}

.alert-danger {
  color: red;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 3px;
  padding: 6px 0;
}

.row-border-bottom {
  border-bottom: 1px solid #8e8e8e;
}

.margin-top-20 {
  margin-top: 20px;
}

.custom-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff69;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-box {
  width: 90%;
  padding: 10px;
  background: #000000cc;
  border-radius: 4px;
  display: grid;
  position: relative;
}

.custom-modal-header {
  padding: 7px 0;
  text-align: center;
  color: #bef25c;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 1.9rem;
}

.custom-modal-body h3 {
  font-size: 1.8rem;
  color: #f2a335;
  font-weight: 500;
  font-family: sans-serif;
  border-bottom: 1px solid #f2a335;
}

.custom-modal-body span {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.custom-modal-body .taggedUsersContainer {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
  display: grid;
  line-height: 30px;
}

ion-icon.close-custom-modal {
  position: absolute;
  top: -11px;
  right: -8px;
  color: #dd8b19;
  font-size: 3.7rem;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('../assets/fonts/MYRIADPRO-BOLD.OTF');
}

ion-label,
label,
a,
div,
ion-segment-button {
  font-family: Myriad-Pro !important;
}

ion-fab {
  position: absolute;

  button {
    float: right !important;

    i.fa {
      font-size: 15px;
    }
  }
}

.ion-text-start::first-letter {
  text-transform: capitalize !important;
}

.col {
  padding: 0 !important;
}
