page-chatwindow {
	body {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		background: url('http://forums.crackberry.com/attachments/blackberry-10-wallpapers-f308/137432d1361639896t-z10-wallpaper-set-z10-music.jpg');
	}
	.back-button {
		color: #fff;
	}
	ion-footer {
		background: white;
		ion-icon {
			padding: 10px;
			font-size: 30px;
			color: green;
		}
	}
	ion-input {
		font-size: 20px;
	}
	.chat-body {
		width: 100%;
		height: auto;
		// background: #3a3a3ab8;
		padding: 10px 20px;
	}
	.chat-div {
		max-width: 70%;
		width: auto;
		padding: 10px 10px;
		background: #dcf8c6;
		display: inline-grid;
		position: relative;
		border-radius: 6px;
	}
	.chat-message-container {
		width: 100%;
		height: auto;
		padding: 5px 5px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.textLeft {
		float: left;
		text-align: left;
		margin-left: 3%;
		background: #fff
	}
	.textRight {
		float: right;
		text-align: right;
		margin-right: 4%;
		background: #dcf8c6;
	}
	.chat-message-time {
		font-size: 12px;
		margin-bottom: 5px;
		color: black;
	}
	.chat-message {
		font-size: 16px;
		color: black;
	}
	.textRight:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		border: 27px solid transparent;
		border-left-color: #dcf8c6;
		border-right: 0;
		border-top: 0;
		margin-top: -0.5px;
		margin-right: -17px;
	}
	.textLeft:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border: 27px solid transparent;
		border-right-color: #fff;
		border-left: 0;
		border-top: 0;
		margin-top: -0.5px;
		margin-left: -17px;
	}
	.input-wrap {
		padding: 5px;
		display: flex;
		textarea {
			flex: 1;
			border: 0;
			// border-bottom: 1px $userBackgroundColor;
			border-style: solid;
		}
	}
}