<ion-header>
  <portal-header></portal-header>
</ion-header>
<ion-footer>
  <portal-footer></portal-footer>
</ion-footer>
<ion-content class="menu-items">
  <ion-fab right top style="right:0px;top:0px;background-color: rgba(0,0,0,0.5);">
    <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
      <div style="color:white;">
        <i class="fa fa-sign-in" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
        Login
      </div>
    </button>
    <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
      <div style="color:white;">
        <i class="fa fa-user" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
        Register
      </div>
    </button>
  </ion-fab>

  <div class="chat-body">
    <div class="chat-message-container">
      <span class="chat-div textLeft">
        <span class="chat-message-time">10:31 pm</span>
        <span class="chat-message">Hi there.</span>
      </span>
    </div>

    <div class="chat-message-container">
      <span class="chat-div textRight">
        <span class="chat-message-time">Yesterday, 10:31 pm</span>
        <span class="chat-message">Hi there. Hi there. Hi there. Hi there. Hi there. Hi there. Hi there. Hi there. Hi
          there. Hi there. Hi there. Hi there.</span>
      </span>
    </div>

    <div class="chat-message-container">
      <span class="chat-div textLeft">
        <span class="chat-message-time">10:31 pm</span>
        <span class="chat-message">Hi there.</span>
      </span>
    </div>

    <div class="chat-message-container">
      <span class="chat-div textLeft">
        <span class="chat-message-time">10:31 pm</span>
        <span class="chat-message">Hi there.</span>
      </span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="happy" (click)="switchEmojiPicker()"></ion-icon>
      </ion-col>
      <ion-col col-9>
        <ion-input type="text" placeholder="Type a message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->


  <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class="input-wrap">
      <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
        <ion-icon name="happy"></ion-icon>
      </button>
      <textarea #chat_input
                placeholder="Text Input"
                [(ngModel)]="editorMsg"
                (focusin)="onFocus()">
      </textarea>
      <button ion-button clear icon-only item-right (click)="sendMsg()">
        <ion-icon name="paper-plane" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
    <emoji-picker [(ngModel)]="editorMsg"></emoji-picker>
  </ion-footer>

</ion-footer>
